@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.face-image {
  height: calc(100vh - 100px);
  position: absolute;
  bottom: 0;
  left: calc(min(20vw, 150px)*-1);
  opacity: 0.6;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.section-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}

.section-hide {
  visibility: hidden;
  opacity: 0;
}


.companies {
  background-color: #eaeaea;
}

.reviews {
  background-image: url("../../public/map.jpg");
  background-position: 50%;
  background-size: cover;
}

.youtube {
  min-width: 210px;
}

.carousel--img {
  transition: all 250ms linear 2s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-x-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
