@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.face-image {
  height: 80%;
  position: absolute;
  top: 150px;
  left: -200px;
  opacity: 0.6;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.section-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}

.section-hide {
  visibility: hidden;
  opacity: 0;
}

.skill,
.product {
  min-width: 20rem;
}

.companies {
  background-color: #eee;
}

.product:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}

.reviews {
  background-image: url('../../public/map.jpg');
  background-position: 50%;
  background-size: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-x-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
